.text-center {
  text-align: center;
}

.site-author-image {
  background: white;
  background-clip: content-box;
}


// 在移动设备上隐藏sidebar
+tablet-mobile() {
  .sidebar-toggle, .sidebar {
    display: none;
  }
}