$note-border-radius = 0;

// 此项可控制回到顶部按钮的颜色，目前设置为彩色带
$body-bg-color = linear-gradient(90deg,#6dba82 0,#07b39b 15%,#1098ad 30%,#5073b8 44%,#a166ab 58%,#ef4e7b 72%,#f37055 86%,#f79533 100%);
// 主体内容的背景色
$content-bg-color = #F0FFFF;
// 目前已知：影响到搜索框和结尾的copyright条框背景颜色
//$card-bg-color = #FFFFF0;
// 表格奇数行颜色
$table-row-odd-bg-color = #FFFFF0;